%tr{ id: environment.status_environment_slug }
  %th
    = form_environment(environment.status_environment_slug)
  %td
    - if environment.status_url.present?
      = link_to(environment.status_url, environment.status_url)
    - else
      \-
