%div.pad-top
  %div.notice
    %p.pad-top-small
      = t(:warning_html, scope: [:services, :show], git_repo_url: service.git_repo_url)
    %p.pad-top-small
      = link_to t('services.show.delete'),
            service_path(service),
            class: 'button warning',
            method: :delete,
            data: { confirm: t('services.service.delete_confirm', service: service.name),
                    disable_with: t('services.service.deleting') }
