%tr
  %td
    = link_to service.name, service_path(service)
  %td.actions
    - if can?(:edit, service)
      = link_to t('.edit'), edit_service_path(service)
    - if can?(:destroy, service)
      = button_to t('.delete'),
                  service_path(service),
                  method: :delete,
                  class: 'button',
                  data: { confirm: t('.delete_confirm', service: service.name),
                          disable_with: t('.deleting') }
