%h1.heading-xlarge
  = t('.heading', name: @service.name)

= GovukElementsErrorsHelper.error_summary @service,
  t(:errors_intro, scope: [:shared]), ''

= render partial: 'services/form', locals: {service: @service, button_label: t('.form.submit')}
