= render partial: 'services/header', locals: {service: @service}

%table
  %thead
    %tr

  %tbody
    = render partial: 'environment', collection: @status_by_environment
= render partial: 'remove', locals: {service: @service }
