version: '3'

services:
  db:
    image: postgres:10.9-alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
      POSTGRES_DB: submitter_local
  app:
    build:
      context: .
      dockerfile: ./docker/web/Dockerfile
    links:
      - db
    environment:
      DATABASE_URL: "postgres://postgres:password@db/submitter_local"
      SECRET_KEY_BASE: "xxxyyy"
    ports:
      - 3000:3000
  worker:
    build:
      context: .
      dockerfile: ./docker/worker/Dockerfile
    depends_on:
      - app
    ports:
      - 8000:80
    links:
      - publisher-redis
    environment:
      REDISCLOUD_URL: "publisher-redis"
      QUEUE: "*"

  publisher-redis:
    image: 'bitnami/redis:5.0'
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL
    ports:
      - '6379:6379'
