<section class="login jumbotron text-center">
  <header>
    <h2>
      <a class="btn btn-success btn-lg" href="/auth/auth0">
        <img class="thumbnail" src="https://cdn.auth0.com/styleguide/1.0.0/img/badge.svg" />
        <%= t('.link_text') %>
      </a>
    </h2>
  </header>
</section>
