%div.column-two-thirds
  %h1.heading-xlarge
    = t('.heading')

  %p.lede
    = t('.lede_html', link_url: ENV['FB_DOCUMENTATION_ROOT_URL'])
  -# help_path this will not work at the moment as it needs to rebase from master with the changes made in last story

  %p.font-small
    =t('.info_html', help_url: '#')

  %div.panel.panel-border-wide
    %p.font-small
      = t('.warning_html')

  %div
    = button_to 'Sign in', '/auth/auth0', class: 'button button-start'
