= form_with model: @permission, url: update_or_create(@permission), local: true do |f|
  %tr.in-form
    %td
      = select_tag 'permission[team_id]',
                    options_from_collection_for_select( @possible_teams,
                                                        :id,
                                                        :name),
                    class: 'form-control'
    %td.actions
      = f.submit t('.submit'), class: 'button button-cta'
