@import 'colours';

.status-completed {
  background-color: $green;
}
.status-failed, .status-failed_retryable, .status-failed_non_retryable {
  background-color: $error-colour;
}
.status-deploying {
  background-color: $yellow;
}
.status-queued {
  background-color: $secondary-text-colour;
}

.console {
  background-color: $grey-4;
  border: 1px inset $border-colour;
  color: $black;
  font-family: 'Courier New', Console, fixed-width;
  font-size: 80%;
  min-height: 10em;
  max-width: 100%;
  padding: 0.5em;
  overflow-x: auto;
}

.actions-width {
  width: 40%;
}
