@import 'colours';

.status-completed {
  background-color: $green;
}
.status-failed {
  background-color: $error-colour;
}
.status-running {
  background-color: $yellow;
}
.status-scheduled {
  background-color: $secondary-text-colour;
}
