@import 'colours';

.status-completed {
  background-color: $green;
}
.status-failed, .status-failed_retryable, .status-failed_non_retryable {
  background-color: $error-colour;
}
.status-deploying {
  background-color: $yellow;
}
.status-queued {
  background-color: $secondary-text-colour;
}
