// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login {
  font-size: 24px;
  line-height: 2em;

  .thumbnail {
    float: left;
    margin-right: 1em;
    width: 50px;
  }
}
