@import 'colours';

.styled-as-link {
  text-decoration: underline;
  padding: 0;
  border: none;
  background-color: transparent;
  &:hover {
    cursor: pointer;
  }
}

#proposition-menu .styled-as-link {
  color: white;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.flash {
  border: 1px solid;
  margin: 1em 0;
  padding: 1em ;
}

.flash-notice {
  background-color: $focus-colour;
  background-color: rgba($focus-colour, 0.5);
}
.flash-error {
  background-color: $error-colour;
  background-color: rgba($error-colour, 0.5);
}

.flash-success {
  background-color: $green;
  background-color: rgba($green, 0.5);
  color: #0B0C0C;
}

.inline-nav {
  // border-bottom: 1px solid $border-colour;
  padding-bottom: 1em;

  ul {
    list-style-type: none;
    li {
      display: inline-block;
      padding: 0; margin: 0;
      a, span {
        padding: 0.5em;
      }
      a {
        border-top: 1px solid $panel-colour;
        border-left: 1px solid $panel-colour;
        border-right: 1px solid $panel-colour;
        background-color: $panel-colour;
        &:hover {
          background-color: inherit;
        }
      }
      span {
        border-top: 1px outset $panel-colour;
        border-left: 1px outset $panel-colour;
        border-right: 1px outset $panel-colour;
        border-bottom: none;
        z-index: 99;
      }
    }
  }
}
