@import 'colours';

.status {
  color: white;
  display: inline-block;
  font-weight: bold;
  line-height: 2em;
  min-width: 3em;
  text-align: center;
  padding: 0 0.2em;
}
.status-2xx {
  background-color: $green;
}
.status-3xx {
  background-color: $yellow;
}
.status-4xx, .status-5xx {
  background-color: $red;
}

#config-params {
  td.name {
    width: 35%;
  }
  td.actions {
    width: 20%;
  }
}

.warning, .warning:visited {
  background-color: $red;
}

.pad-bottom {
  padding-bottom: 1.1em;
}
