
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
          <img src="<%= image_path('justice_logo.png')%>" width="254" height="66" alt="Ministry of Justice logo">
        </a>
      </div>
    </div>

    <div class="header-proposition">
      <div class="content">
        <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
        <nav id="proposition-menu">
          <a href="/" id="proposition-name">Form Builder - Publisher</a>
          <ul id="proposition-links">
            <li><a href="https://www.gov.uk/service-manual/service-standard">Digital Service Standard</a></li>
            <li><a href="https://www.gov.uk/service-toolkit">Service Toolkit</a></li>
            <li><a href="https://www.gov.uk/service-manual">Service Manual</a></li>
            <li><a href="https://www.gov.uk/contact/govuk">Feedback</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
