<ul id="proposition-links">
  <li>
    <% if Rails.env.development? %>
      <%= link_to t('.sign_in'), '/auth/developer', method: :post %>
    <% else %>
      <%= link_to t('.sign_in'), '/auth/auth0', method: :post %>
    <% end %>
  </li>
</ul>
