%ul#proposition-links
  %li
    = link_to t('.services'), services_path
  %li
    = link_to t('.teams'), '/teams'
  %li
    = link_to t('.profile'), edit_user_path
  %li
    .sign-out
      = button_to t('.sign_out'), user_session_path, method: :delete, class: 'styled-as-link'
